@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*,
*:before,
*:after{
    padding: 0;
    /*margin: 0;*/
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    margin: 10px;
}
body{
    background-color: #1f143b;
}
.background{
    width: 430px;
    height: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
            #1845ad,
            #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
            to right,
            #ff512f,
            #f09819
    );
    right: -30px;
    bottom: -80px;
}
.mytext{
    text-align: center;
}
body2 {
    background-color: #3B3B98;
    color: #fff;
    display: flex;
    font-family: 'Muli', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 100vh;
    margin: 40px;
}
form{
    height: 450px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    /*display: block;*/
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 50%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
}
::placeholder{
    color: #e5e5e5;
}
button{
    /*margin-top: 50px;*/
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
    margin-top: 30px;
    display: flex;
 }
.social div{
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
}
.social div:hover{
    background-color: rgba(255,255,255,0.47);
}
.social .fb{
    margin-left: 25px;
}
.social i{
    margin-right: 4px;
}

.container {
    background-color: #ea8928;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    /*padding-top: 120px;*/
    width: 400px;
       max-width: 100%;
    justify-content: center;
    vertical-align: center;
    border-radius: 20px;
}

.result-container {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.result-container .btn {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
}



.btn-large {
    display: block;
    width: 100%;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

